@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    height: 100%;
    width: 100%;
    background-color: #1e2122;
    scroll-behavior: smooth;
}

#root{
    display: flex;
    flex-direction: column;
    background-color: #1e2122;
    padding-bottom: 20px;
    overflow-y: auto;
}


body::-webkit-scrollbar{
width: 5px;
}



body::-webkit-scrollbar-track{
    background-color: transparent;
}


body::-webkit-scrollbar-thumb{
    background-color: rgb(71, 71, 71);
    border-radius: 50px;
}

.secondary-notice-card-title{
    transition: underline 1s;
}

.secondary-notice-card-link:hover .secondary-notice-card-title{
    text-decoration: underline;
}
